
.card_container{
 padding: 5rem;
 overflow: hidden;
}

.card{
    height: 260px;
    width: 190px;


 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}
.imgse{
    /* height: 160px; */
    flex: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 30px 20px 0 0;
    width: 100%;
    background-color: rgb(182, 186, 235);

}
.desc{
    flex: 1;
  padding: 10px 20px;
}
.cardimg{
    height: 145px;
    width: 120px;
}
.desc>h5{
   font-weight: bold; 
}
.desc>span{
    font-size: 14px;
    color: rgb(162, 148, 148);
 }
 .consult{
    margin-top: 5rem;
 }
 .topdesc{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .topdescright>button{
    padding: 10px;
    border: 1px solid rgb(148, 148, 209);
    color: rgb(100, 131, 190);
 }
 .dowdesc_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid; */
    width: 125px;
    gap: 5px;

 }
 .dowdesc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding: 20px;

 }
 .dowdesc_card>img{
    height: 125px;
    object-fit: cover;
 }
 .para2{
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
 }
 .para3{
    font-size: 12px;
    font-weight: bold;
    color: rgb(127, 124, 205);
 }
 .book{
   margin-top: 5rem;

 }
 .book>h3{
   font-weight: bold;
   color: rgb(63, 57, 57);
 }
 .list{
   /* display: flex;
   align-items: center; */

   width: 100%;

 }
 .wrapper {
   position: relative;
   overflow: hidden;
 }
   .right {
      right: 0;
    }
    .left {
      left: 0;
    }
    .sliderArrow {
     font-size: 35px;
     border-radius: 50%;
      background-color: aliceblue;
      color: rgb(0, 0, 0);
      position: absolute;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
    }
    .container1 {
      margin-left: 10px;
      display: flex;
      margin-top: 10px;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;

    }